@font-face {
    font-family: 'Radiance';
    src:    url('/fonts/Radiance-Distressed-Black.woff2') format('woff2'),
            url('/fonts/Radiance-Regular.woff') format('woff'),
            url('/fonts/Radiance-Bold.woff') format('woff'),
            url('/fonts/Radiance-Black.woff') format('woff'),
}

body {
    background-color: #ddd;
    margin-top: 20px;
    font-family: "Radiance", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Radiance", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header, .header {
    display: flex;
    align-items: center;
}


button {
    cursor:pointer;
    display: flex;
    justify-content: center;

    &.rounded {
        border-radius: 0.5rem;
        //     border-radius: 50%; // full round
        height: 2rem;
        width: 2rem;
    }
}

.pool {
    display: flex;
    justify-content: space-between;
}

// Alliance Summary
.alliances {
    flex-basis: 40%;
}

.alliance-icons {
    display: flex;
}

.alliance {
    display: flex;
}

.alliance-img {
    width: 2rem;
    height: 2rem;
}

.counter {
    display: flex;
    flex-grow: 1;
    margin-right: 2px
}

.tier {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    width: 0.66rem;
    height: 2rem;
}

.filled {
    flex-grow: 1;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    background-color: blue;
}

.hollow {
    flex-grow: 1;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
}


// Crew Section
.crew-summary {
    display: flex;
    justify-content: space-between;
}

.crew {
    flex-basis: 60%;
}

.crew-empty {
    color: blue;
    margin-left: 5rem;
}

.crew-icons {
    display: flex
}

// Hero mini
.hero {
    cursor:pointer;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}

.hero:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

.hero:hover {
    // x y blur size
	box-shadow: 0 0 2px 5px rgba(120, 120, 120, 0.564);
}
