@font-face {
    font-family: 'Radiance';
    src:    url('/fonts/Radiance-Distressed-Black.woff2') format('woff2'),
            url('/fonts/Radiance-Regular.woff') format('woff'),
            url('/fonts/Radiance-Bold.woff') format('woff'),
            url('/fonts/Radiance-Black.woff') format('woff'),
}

body {
    background-color: #ddd;
    margin-top: 20px;
    font-family: "Radiance", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Radiance", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}


.team {
    display: flex
}

button {
    cursor:pointer;
    display: flex;
    justify-content: center;

    // &.round {
    //     border-radius: 50%;
    //     height: 2rem;
    //     width: 2rem;
    // }

    &.rounded {
        border-radius: 0.5rem;
        height: 2rem;
        width: 2rem;
    }
}

.alliance-summary {
    display: flex;
}

.alliance {
    display: flex;
}

.alliance-img {
    width: 2rem;
    height: 2rem;
}

.counter {
    display: flex;
    flex-grow: 1;
    width: 2rem;
    height: 2rem;
}

.tier {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    width: 0.66rem;
    height: 2rem;
}

.filled {
    flex-grow: 1;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    background-color: blue;
}

.hollow {
    flex-grow: 1;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
}

.section-header {
    display: flex;
    align-items: center;
}